In [ ]:
Q.1

In [ ]:
s1= { 2,4,6,8,10 }
print ( s1 )
print ( type ( s1 ) )

In [1]:
s2 = set ([ USA,CHINA,UK,RUSSIA,INDIA,FRANCE ]
          print ( s2 )
          print ( s2 )
          print ( type ( s2))

SyntaxError: '(' was never closed (2747406450.py, line 1)

In [ ]:
Q.2

In [2]:
1st = [ 2,4,6,8 ]
D1 = [ item: item**2 for item in 1st ]
print ( D1 )
# to creat a dict of only odd elements arr = [ 1,2,3,4,5,6,7,8, ] 
D2 = { item : ** 2 for item in arr if item % 2 ! = 0 }

SyntaxError: invalid decimal literal (1042030765.py, line 1)

In [ ]:
Q.3

In [ ]:
a- tuple = ( '1', ;3', '5' ) 
            an - int= ( a- tuple ( 0 ) 
                       print ( an- int ) # 1

In [ ]:
Q.3

In [ ]:
num 1 = [ 1,2,3 ]
num 2 = [ 4,5,6]
print ( " original list :")
result = map ( lambda x,y,x
print( " In result : after addinm 
 print ( list ( result )

In [ ]:
Q.4

In [ ]:
sort the both arrays A ( 1,2,3,) 
B ( 4,5,6 )
result =0

In [ ]:
A { 1,2,3 ) , B ( 4,5,6)

In [3]:
result = result + A [ 1 ] * B [ n-!-1]
= 0+6=6

SyntaxError: invalid syntax (702720069.py, line 1)

In [ ]:
Q.5

In [ ]:
number= int ( input ( " Enter a number** )
if number % 3 == op number % 11 == 0:

In [4]:
print ( " Number is divisible by both 3 and 11 ")
print ( '' Number is not divisible by 3 & 11 ")

SyntaxError: unterminated string literal (detected at line 2) (151057688.py, line 2)

In [ ]:
 Q.6

In [ ]:
1) text = [ " php'' , '' w3r " python
2) print ( " original list of string :
3) print ( texts ) 
4) result = list ( filter ( lambda x :
5) print ( '' \ n list of palindromes 
6) print ( result